body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'jost', sans-serif;
    background: linear-gradient(to bottom, #007bff, #ffffff); /* Bleu et blanc */
  }
  
  .main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
  }
  
  #chk {
    display: none;
  }
  
  .signup, .login {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  button {
    height: 60px;
    width: 100%;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #007bff; /* Bleu */
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3; /* Bleu plus foncé */
  }
  
  .login {
    height: 460px;
    background: #ffffff; /* Blanc */
    border-radius: 60%/ 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
  }
  
  .login label {
    color: #007bff; /* Bleu */
    transform: scale(.6);
  }
  
  #chk:checked ~ .login {
    transform: translateY(-500px);
  }
  
  #chk:checked ~ .login label {
    transform: scale(1);
  }
  
  #chk:checked ~ .signup label {
    transform: scale(.6);
  }
  